{% load static %}
<html>
        <head>
                <meta charset="UTF-8" />
                <title>{{ post.title }}</title>
                <!--<script>
                        window.MathJax = {
                                loader: {
                                        load: ['[custom]/xypic.js']
                                },
                                tex: {
                                        packages: {'[+]': ['xypic']}
                                }
                        };
                </script>-->
                <script type="text/javascript" async src="{% static 'mathjax/es5/tex-mml-chtml.js' %}"></script>

                <link rel="stylesheet" href="{% static 'css/blog.css' %}">
        </head>
        <body>
                <header class="page-header">
                        <h1>{{ post.title }}</h1>
                </header>
                <main class="blog-post">
                                <article class="post-text">
                                        <p class="time-stamp">{{ post.published_date|date:"d-m-Y H:i" }}</p>
                                        <p>{{ post.text|linebreaksbr }}</p>
                                </article>
                </main>
        </body>
</head>
